@use 'bootstrap/scss/bootstrap';
@use 'bootstrap-icons/font/bootstrap-icons';

:root {
  --bs-body-font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
